@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

@layer components {
  .custom-radio {
    @apply appearance-none w-5 h-5 border-2 border-black rounded-full checked:border-black focus:outline-none focus:ring-black relative after:absolute after:top-1/2 after:left-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:w-2 after:h-2 after:rounded-full after:bg-black after:opacity-0 checked:after:opacity-100;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  height: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 5px; /* 这里设置滑块的高度 */
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  transform: translateY(-50%);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover::before {
  background-color: rgba(0, 0, 0, 0.3);
}
